Title: About
---
@using FluentBootstrap;

@{
    ViewData["TitleClass"] = "icon-megaphone";
}
@Html.Partial("_Title")

@Bs.Lead("Hello, my name is Dave Glick.")
<p>I am currently the Principal Software Engineer at the @Bs.Link("Securities Investor Protection Corporation (SIPC)", "http://www.sipc.org") where I lead the design and development of line-of-business web applications using .NET technologies like ASP.NET MVC, Entity Framework, and client libraries like jQuery, KendoUI, and Bootstrap.</p>
<p>Of course, we're all hopefully much more than where we plant our butt during the week (or stand, if you're one of those standing desk folks). At home I am a husband and father to three very active kids and enjoy every moment. That doesn't leave a lot of left-over time, but when I do get the chance I enjoy @Bs.Link("taking pictures", "http://flickr.com/photos/somedave/") and @Bs.Link("a good book", "http://www.goodreads.com/daveaglick"). Somehow, I also occasionally find time to @Bs.Link("write code", "https://github.com/daveaglick").</p>
<p>I have profiles scattered around the web at the following sites:</p>
@Html.Partial("_SocialLinks")
