@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@using (var container = Bootstrap.Container().AddCss("banner", "container-sm-height"))
{
    using (var row = container.GridRow().AddCss("row-sm-height"))
    {
        using (row.GridColumn().Sm(8).AddCss("col-sm-height", "col-bottom"))
        {
            <div class="title">@Title</div>
            if (!string.IsNullOrWhiteSpace(Lead))
            {
                <div class="lead">@Lead</div>
            }
        }
        using (row.GridColumn().Sm(4).AddCss("col-sm-height", "col-bottom", "stats"))
        {
            using (var statRow = Bootstrap.GridRow())
            {
                using (statRow.GridColumn().Sm(12))
                {
                    <hr class="@Css.VisibleXsBlock" />
                    if (Tags != null)
                    {
                        <div><strong>Tags</strong></div>
                        <div>
                            @foreach (string tag in Tags)
                            {
                                @Html.TagButton(tag)
                            }
                        </div>     
                    }     
                    if (Published != default(DateTime))
                    {
                        <div><strong>Published</strong></div>
                        <div>@Published.ToLongDateString()</div>
                    }
                    if (Edited != default(DateTime))
                    {
                        <div><strong>Edited</strong></div>
                        <div>@Edited.ToLongDateString()</div>
                    }
                }
            }
        }                
    }
}

@using (var container = Bootstrap.Container())
{
    <hr />
    using (var row = container.GridRow())
    {
        using (row.GridColumn().Sm(12))
        {
            @RenderBody()
        }         
    }
}
