@using HtmlAgilityPack;

@model DaveAGlick.Models.Home.Index

@using (var row = Bs.GridRow().AddCss("banner").Begin())
{
    using (row.GridColumn(12).Begin())
    {
        <div class="hello">Hello. My name is Dave Glick.</div>
        <div class="intro">By day, a .NET and open source enthusiast. By night, a husband and father of three.</div>
    }
}
<hr />

@using (var row = Bs.GridRow().Begin())
{
    using (row.GridColumn().SetSm(8).AddCss("right-border").Begin())
    {
        bool first = true;
        foreach (BlogPost post in Model.Posts)
        {
            if (!first)
            {
                <hr /> 
            }
            first = false;
            <div>
                <h3>
                    @Bs.Link(post.Title, Url.Action(post.GetAction()))
                    @if (post.Published != default(DateTime))
                    {
                        <small>@Bs.Label(post.Published.ToShortDateString()).AddCss("label-date", "icon-calendar")</small>
                        <small>
                            @using (Bs.Label(null).AddCss("label-comments icon-talk-chat-2").Begin())
                            {
                                <a href="@Url.Action(post.GetAction())#disqus_thread" data-disqus-identifier="@post.GetViewName()"></a>
                            }
                        </small>
                    }
                </h3>
            </div>
            if(!string.IsNullOrWhiteSpace(post.Lead))
            {
                @Bs.Lead(post.Lead)
            }
            @Html.Raw(post.GetExcerpt())
            @Bs.LinkButton("Read More &rarr;", Url.Action(post.GetAction()))
        }
        <hr />
        <div><strong>@Bs.Link(" Archive", Url.Action(MVC.Blog.Posts(null)))</strong></div>
    }
    using (row.GridColumn().SetSm(4).Begin())
    {
        <hr class="@Css.VisibleXsBlock" />
        <h5>Tags</h5>
        <div>
            @foreach (KeyValuePair<string, int> tag in Model.Tags)
            { 
                @Html.TagButton(tag.Key, tag.Value)
            }
        </div>
        <div><strong>@Bs.Link("View All Tags", Url.Action(MVC.Blog.Tags(null)))</strong></div>
        <hr />
        <h5>On The Interwebs</h5>
        @Html.Partial(MVC.Shared.Views.SocialLinks)
    } 
}