<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
		<title>Somedave</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="@Links.Content.bootstrap.bootstrap_less" rel="stylesheet">
        <link href="@Links.Content.master_less" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Lato:700,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>
        <script src="@Links.Scripts.jquery_1_9_0_min_js"></script>
        <script src="@Links.Scripts.bootstrap_min_js"></script>
	</head>
	<body>
        @using (var container = Bootstrap.Container().AddCssClass("container-sm-height"))
        {
            using (var row = container.GridRow().AddCssClass("nav-row", "row-sm-height"))
            {
                using (row.GridColumn().Xs(3).Sm(8).AddCssClass("logo-col", "col-sm-height", "col-bottom"))
                { 
                    <div>@Html.ActionLink("<somedave/>", MVC.Home.Index())</div>
                }
                using (row.GridColumn().Xs(9).AddCssClass("visible-xs"))
                { 
                    <div class="visible-xs">         
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                }
                <div class="clearfix visible-xs-block"></div>
                using (row.GridColumn().Xs(12).Sm(2).AddCssClass("nav-col", "collapse", "col-sm-height"))
                { 
                    using (var nav = Bootstrap.List())
                    {
                        @nav.ListItem(Html.ActionLink("About", MVC.Home.About())) 
                        @nav.ListItem(Html.ActionLink("Archive", MVC.Blog.Archive())) 
                    }     
                } 
                <div class="clearfix visible-xs-block"></div>
                using (row.GridColumn().Xs(12).Sm(2).AddCssClass("proj-col", "collapse", "col-sm-height"))
                { 
                    <div><strong>Projects</strong></div>
                    using (var nav = Bootstrap.List())
                    {
                        @nav.ListItem(Html.ActionLink("FluentBootstrap", MVC.Home.FluentBootstrapProject())) 
                        @nav.ListItem(Html.ActionLink("RazorDatabase", MVC.Home.RazorDatabaseProject())) 
                    }    
                } 
            }
        }            
        @using (var container = Bootstrap.Container())
        {
		    @RenderBody()
        }
	</body>
</html>

