<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
		<title>Somedave@(string.IsNullOrWhiteSpace(Title) ? string.Empty : " - " + Title)</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="@Links.Content.bootstrap.bootstrap_less" rel="stylesheet">
        <link href="@Links.Content.prism_css" rel="stylesheet">
        <link href="@Links.Content.master_less" rel="stylesheet">
        <script src="@Links.Scripts.jquery_1_9_0_min_js"></script>
        <script src="@Links.Scripts.bootstrap_min_js"></script>
        <script src="@Links.Scripts.prism_js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
        <script>
            WebFont.load({
                google: {
                    families: ['Lato:400,900:latin', 'Droid+Serif::latin', 'Indie+Flower::latin']
                },
                custom: {
                    families: ['somedave'],
                    urls: ['https://fontastic.s3.amazonaws.com/gfxCC547kHqmQZtxrW5KFY/icons.css']
                }
            });
        </script>
	</head>
	<body>
        @using (Bootstrap.Div().Id("page-wrapper"))
        {
            using (var container = Bootstrap.Container().AddCss("container-sm-height"))
            {
                using (var row = container.GridRow().AddCss("nav-row", "row-sm-height"))
                {
                    using (row.GridColumn().Xs(3).Sm(8).AddCss("logo-col", "col-sm-height", "col-bottom"))
                    { 
                        @Html.ActionLink("<somedave/>", MVC.Home.Index())
                    }
                    using (row.GridColumn().Xs(9).VisibleXsBlock())
                    {
                        using (Bootstrap.Div().VisibleXsBlock())
                        {         
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        }
                    }
                    @Bootstrap.Clearfix().VisibleXsBlock()                    
                    using (row.GridColumn().Xs(12).Sm(2).AddCss("nav-col", "collapse", "col-sm-height"))
                    { 
                        using (var nav = Bootstrap.List())
                        {
                            @nav.ListItem(Bootstrap.Link(" About", Url.Action(MVC.Home.About())).AddCss("icon-megaphone")) 
                            @nav.ListItem(Bootstrap.Link(" Archive", Url.Action(MVC.Blog.Posts(null))).AddCss("icon-archive")) 
                            @nav.ListItem(Bootstrap.Link(" Tags", Url.Action(MVC.Blog.Tags(null))).AddCss("icon-tags")) 
                            @nav.ListItem(Bootstrap.Link(" Likes", Url.Action(MVC.Home.Likes())).AddCss("icon-like-filled")) 
                        }     
                    } 
                    @Bootstrap.Clearfix().VisibleXsBlock()  
                    using (row.GridColumn().Xs(12).Sm(2).AddCss("proj-col", "collapse", "col-sm-height"))
                    { 
                        @Bootstrap.Div().AddChild(x => Bootstrap.Strong("Projects"))
                        using (var nav = Bootstrap.List())
                        {
                            @nav.ListItem(Bootstrap.Link("FluentBootstrap", Url.Action(MVC.Home.FluentBootstrapProject()))) 
                            @nav.ListItem(Bootstrap.Link("RazorDatabase", Url.Action(MVC.Home.RazorDatabaseProject()))) 
                        }    
                    } 
                }
            }            
		    @RenderBody()
        }
        @using (Bootstrap.Div().Id("sticky-footer-wrapper"))
        {
            using (Bootstrap.Div().Id("sticky-footer"))
            {
                using (Bootstrap.Container())
                {
                    using(Bootstrap.Small())
                    {
                        <text>
                            Copyright © @DateTime.Now.Year by Dave Glick. All jams and jellies preserved. The opinions expressed herein are my own and do not represent my employer's, sponsors', or any other third-party views in any way. This work is licensed under a
                            @Bootstrap.Link(Bootstrap.Span("icon-creative-commons").ToHtmlString() + " Creative Commons Attribution 4.0 International License", "http://creativecommons.org/licenses/by/4.0/").AddAttribute("rel", "license").
                        </text>
                    }
                }
            }
        }
	</body>
</html>

