<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

		<title>Somedave@(string.IsNullOrWhiteSpace(Title) ? string.Empty : " - " + Title)</title>
        <meta name="description" content="The personal blog of Dave Glick" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">        

        <link type="application/rss+xml" rel="alternate" title="Somedave" href="/feed/rss" />
        <link type="application/atom+xml" rel="alternate" title="Somedave" href="/feed/atom" />

        <link href="@Links.Content.bootstrap.bootstrap_less" rel="stylesheet">
        <link href="@Links.Content.prism_css" rel="stylesheet">
        <link href="@Links.Content.master_less" rel="stylesheet">

        <meta name="application-name" content="Somedave" />
        <meta name="msapplication-tooltip" content="Somedave" />
        <meta name="msapplication-starturl" content="/" />

        <meta property="og:title" content="Somedave@(string.IsNullOrWhiteSpace(Title) ? string.Empty : " - " + Title)" />
        @* <meta property="og:image" content="@Blog.Image" /> *@
        <meta property="og:type" content="website" />
        <meta property="og:url" content="@(Request.Url.Scheme +"://" + Request.Url.Authority + Request.RawUrl)" />
        <!-- TODO: More social graph meta tags -->

        <script type="text/javascript">
            window.appInsights = { queue: [], applicationInsightsId: null, accountId: null, appUserId: null, configUrl: null, start: function (n) { function u(n) { t[n] = function () { var i = arguments; t.queue.push(function () { t[n].apply(t, i) }) } } function f(n, t) { if (n) { var u = r.createElement(i); u.type = "text/javascript"; u.src = n; u.async = !0; u.onload = t; u.onerror = t; r.getElementsByTagName(i)[0].parentNode.appendChild(u) } else t() } var r = document, t = this, i; t.applicationInsightsId = n; u("logEvent"); u("logPageView"); i = "script"; f(t.configUrl, function () { f("//az416426.vo.msecnd.net/scripts/a/ai.0.7.js") }); t.start = function () { } } };

            appInsights.start("d60f9de1-8757-4455-9df4-9a6e8aaec82a");
            appInsights.logPageView();
        </script>
        <script src="@Links.Scripts.jquery_1_9_0_min_js"></script>
        <script src="@Links.Scripts.bootstrap_min_js"></script>
        <script src="@Links.Scripts.prism_js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
        <script>
            WebFont.load({
                google: {
                    families: ['Lato:400,900:latin', 'Droid+Serif::latin', 'Indie+Flower::latin']
                },
                custom: {
                    families: ['somedave'],
                    urls: ['https://fontastic.s3.amazonaws.com/gfxCC547kHqmQZtxrW5KFY/icons.css']
                }
            });
        </script>
	</head>
	<body>
        @using (Bootstrap.Div().Id("page-wrapper"))
        {
            using (var container = Bootstrap.Container().AddCss("topnav", "container-sm-height"))
            {
                using (var row = container.GridRow().AddCss("nav-row", "row-sm-height"))
                {
                    using (row.GridColumn().Xs(3).Sm(8).AddCss("logo-col", "col-sm-height", "col-bottom"))
                    { 
                        @Html.ActionLink("<somedave/>", MVC.Home.Index())
                    }
                    using (row.GridColumn().Xs(9).VisibleXsBlock())
                    {
                        using (Bootstrap.Div().VisibleXsBlock())
                        {         
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        }
                    }
                    @Bootstrap.Clearfix().VisibleXsBlock()                    
                    using (row.GridColumn().Xs(12).Sm(2).AddCss("nav-col", "collapse", "col-sm-height"))
                    { 
                        using (var nav = Bootstrap.List())
                        {
                            @nav.ListItem("<strong>/</strong> " + Bootstrap.Link(" About", Url.Action(MVC.Home.About())).ToHtmlString()) 
                            @nav.ListItem("<strong>/</strong> " + Bootstrap.Link(" Archive", Url.Action(MVC.Blog.Posts(null))).ToHtmlString()) 
                            @nav.ListItem("<strong>/</strong> " + Bootstrap.Link(" Tags", Url.Action(MVC.Blog.Tags(null))).ToHtmlString()) 
                            @nav.ListItem("<strong>/</strong> " + Bootstrap.Link(" Likes", Url.Action(MVC.Home.Likes())).ToHtmlString()) 
                        }     
                    } 
                    @Bootstrap.Clearfix().VisibleXsBlock()  
                    using (row.GridColumn().Xs(12).Sm(2).AddCss("proj-col", "collapse", "col-sm-height"))
                    { 
                        @Bootstrap.Div().AddChild(x => Bootstrap.Strong("Projects"))
                        using (var nav = Bootstrap.List())
                        {
                            @nav.ListItem("<strong>/</strong> " + Bootstrap.Link("FluentBootstrap", Url.Action(MVC.Projects.FluentBootstrapProject())).ToHtmlString()) 
                            @nav.ListItem("<strong>/</strong> " + Bootstrap.Link("RazorDatabase", Url.Action(MVC.Projects.RazorDatabase())).ToHtmlString()) 
                        }    
                    } 
                }
            }            
		    @RenderBody()
        }
        @using (Bootstrap.Div().Id("sticky-footer-wrapper"))
        {
            using (Bootstrap.Div().Id("sticky-footer"))
            {
                using (Bootstrap.Container())
                {
                    using(Bootstrap.Small())
                    {
                        <text>
                            Copyright © @DateTime.Now.Year by Dave Glick. All jams and jellies preserved. The opinions expressed herein are my own and do not represent my employer's, sponsors', or any other third-party views in any way. This work is licensed under a
                            @Bootstrap.Link(Bootstrap.Span("icon-creative-commons").ToHtmlString() + " Creative Commons Attribution 4.0 International License", "http://creativecommons.org/licenses/by/4.0/").AddAttribute("rel", "license").
                            <br />
                            @Bootstrap.Link(Bootstrap.Span("icon-rss").ToHtmlString() + " RSS Feed", "/feed/rss") | @Bootstrap.Link(Bootstrap.Span("icon-rss").ToHtmlString() + " Atom Feed", "/feed/atom")
                        </text>
                    }
                }
            }
        }

        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'somedave'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var s = document.createElement('script'); s.async = true;
                s.type = 'text/javascript';
                s.src = '//' + disqus_shortname + '.disqus.com/count.js';
                (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
            }());
        </script>
	</body>
</html>

