@{
    Title = "NuGet Stats - " + Model.Package + " Dependencies";
}

@using System.Web.Mvc
@model Somedave.Models.NuGetStats.Dependencies

@using(Bootstrap.Container().AddCss("banner").Begin())
{
    @Bootstrap.Heading3(Html.ActionLink("NuGet Stats", MVC.NuGetStats.Index()).ToString())
    @Bootstrap.Div().AddCss("title").SetText(Model.Package + " Dependencies")
    <hr />
}

@using (Bootstrap.Container().Begin())
{
    
    using (var grid = Bootstrap.GridRow().Begin())
    {
        using (grid.GridColumn(6).Begin())
        {
            @Bootstrap.Heading3("Dependencies")
            <p>This package is dependent on the following packages.</p>
            using (var table = Bootstrap.Table().SetStyle(TableStyle.Striped).Begin())
            {
                @table.TableHeaderRow("Package", "Depth")
                foreach (string package in Model.Dependency)
                {
                    @table.TableDataRow(string.Format("<a href='http://www.nuget.org/packages/{0}'>{0}</a>", package), 1)
                }
            }
        }
        using (grid.GridColumn(6).Begin())
        {
            @Bootstrap.Heading3("Dependent")
            <p>These packages are dependent on this package.</p>
            using (var table = Bootstrap.Table().SetStyle(TableStyle.Striped).Begin())
            {
                @table.TableHeaderRow("Package", "Depth")
                foreach (string package in Model.Dependent)
                {
                    @table.TableDataRow(string.Format("<a href='http://www.nuget.org/packages/{0}'>{0}</a>", package), 1)
                }
            }
        }
    }

    @Html.Action(MVC.NuGetStats.Footer())
}