@{
    Title = "NuGet Stats - " + Model.Metadata.Title;
}

@model Somedave.Models.NuGetStats.Leaderboard

@using (Bootstrap.Div().AddCss("banner").Begin())
{
    @Bootstrap.Heading3(Html.ActionLink("NuGet Stats", MVC.NuGetStats.Index()).ToString())
    @Bootstrap.Div().AddCss("title").SetText(Model.Metadata.Title)
    <hr />
}

<p>@Model.Metadata.Description</p>
@using (var table = Bootstrap.Table().SetStyle(TableStyle.Striped).Begin())
{
    @table.TableHeaderRow(Model.Metadata.NameHeading, Model.Metadata.ValueHeading)
    foreach (Somedave.Models.NuGetStats.Leaderboard.Entry entry in Model.Entries)
    {
        @table.TableDataRow(Model.Metadata.NameLink == null ? entry.Name : string.Format("<a href='{0}'>{1}</a>", Model.Metadata.NameLink(entry.Name, Url), entry.Name), entry.Value)
    }
}
    
@Html.Action(MVC.NuGetStats.Footer())
