@{
    Title = "NuGet Stats / " + Model.Metadata.Title;
}

@model Somedave.Models.NuGetStats.Leaderboard

@Html.Partial(MVC.Shared.Views.Title, string.Empty)

@using (Bootstrap.Container().Begin())
{
    <p>@Model.Metadata.Description</p>
    using (var table = Bootstrap.Table().SetStyle(TableStyle.Striped).Begin())
    {
        @table.TableHeaderRow(Model.Metadata.Heading1, Model.Metadata.Heading2)
        foreach (Somedave.Models.NuGetStats.Leaderboard.Entry entry in Model.Entries)
        {
            @table.TableDataRow(Model.Metadata.IsPackage ? string.Format("<a href='http://www.nuget.org/packages/{0}'>{0}</a>", entry.Name) : entry.Name, entry.Value)
        }
    }
    
    @Html.Action(MVC.NuGetStats.Footer())
}
