@using HtmlAgilityPack;

@model Somedave.Models.Home.Index

@using (var container = Bootstrap.Container().AddCss("banner"))
{
    using (var row = container.GridRow())
    {
        using (row.GridColumn().Sm(2))
        {
            @Bootstrap.Image(Links.Content.me_jpg, "Me").Responsive().Circle().AddAttribute("style", "margin-top: 6px;")
        }
        using (row.GridColumn().Sm(10))
        {
            <div class="hello">Hello.</div>
            <div class="intro">My name is Dave Glick. I craft software and sometimes I write about it.</div>
        }                
    }
    <hr />
}

@using (var container = Bootstrap.Container())
{
    using (var row = container.GridRow())
    {
        using (row.GridColumn().Sm(8).AddCss("right-border"))
        {
            bool first = true;
            foreach (BlogPost post in Model.Posts)
            {
                if (!first)
                {
                    <hr /> 
                }
                first = false;
                <div>
                    <h3>
                        @Bootstrap.Link(post.Title, Url.Action(post.GetAction()))
                        @if (post.Published != default(DateTime))
                        {
                            <small><span class="label label-default label-date icon-calendar">@post.Published.ToShortDateString()</span></small>
                            <small><span class="label label-default label-comments icon-talk-chat-2"><a href="@Url.Action(post.GetAction())#disqus_thread" data-disqus-identifier="@post.GetViewName()"></a></span></small>
                        }
                    </h3>
                </div>
                if(!string.IsNullOrWhiteSpace(post.Lead))
                {
                    <div class="@Css.Lead">@post.Lead</div>
                }
                try
                {
                    HtmlDocument doc = new HtmlDocument();
                    doc.LoadHtml(post.Rendered);
                    HtmlNode p = doc.DocumentNode.SelectSingleNode("//p");
                    if (p != null)
                    {
                        @Html.Raw(p.OuterHtml)
                    }
                }
                catch(Exception)
                {            
                }
                @Bootstrap.LinkButton("Read More &rarr;", Url.Action(post.GetAction()))
            }
            <hr />
            <div><strong>@Bootstrap.Link(" Archive", Url.Action(MVC.Blog.Posts(null)))</strong></div>
        }
        using (row.GridColumn().Sm(4))
        {
            <hr class="@Css.VisibleXsBlock" />
            <h5>Tags</h5>
            <div>
                @foreach (KeyValuePair<string, int> tag in Model.Tags)
                { 
                    @Html.TagButton(tag.Key, tag.Value)
                }
            </div>
            <div><strong>@Bootstrap.Link("View All Tags", Url.Action(MVC.Blog.Tags(null)))</strong></div>
            <hr />
            <h5>On The Interwebs</h5>
            @Html.Partial(MVC.Shared.Views.SocialLinks)
        } 
    }
}