@using HtmlAgilityPack;
@using RazorDatabase;

@using (var container = Bootstrap.Container())
{
    using (var row = container.GridRow().AddCss("hero-row"))
    {
        using (row.GridColumn().Sm(2))
        {
            @Bootstrap.Image(Links.Content.me_jpg, "Me").Responsive().Circle().AddAttribute("style", "margin-top: 6px;")
        }
        using (row.GridColumn().Sm(10))
        {
            <div class="hello">Hello.</div>
            <div class="intro">My name is Dave Glick. I make software and sometimes I write about it.</div>
        }                
    }
    <hr />
}


@using (var container = Bootstrap.Container())
{
    using (var row = container.GridRow())
    {
        using (row.GridColumn().Sm(8).AddCss("right-border"))
        {
            bool first = true;
            foreach (BlogPost post in RazorDb.Get<BlogPost>().Where(x => x.Published != null && x.Published < DateTime.Today).OrderByDescending(x => x.Published).Take(3))
            {
                if (!first)
                {
                    <hr /> 
                }
                first = false;
                <div><h3>@Bootstrap.Link(post.Title, Url.Action(post.Action()))</h3></div>
                if(!string.IsNullOrWhiteSpace(post.Lead))
                {
                    <div class="@Css.Lead">@post.Lead</div>
                }
                try
                {
                    HtmlDocument doc = new HtmlDocument();
                    doc.LoadHtml(post.Rendered);
                    HtmlNode p = doc.DocumentNode.SelectSingleNode("//p");
                    if (p != null)
                    {
                        @Html.Raw(p.OuterHtml)
                    }
                }
                catch(Exception)
                {            
                }
                @Bootstrap.LinkButton("Read More &rarr;", Url.Action(post.Action()))
            }
        }
        using (row.GridColumn().Sm(4))
        {
            <hr class="@Css.VisibleXsBlock" />
            <h5>Tags</h5>
            int c = 0;
            foreach (string tag in RazorDb.Get<BlogPost>()
                .Where(x => x.Tags != null)
                .SelectMany(x => x.Tags)
                .OrderByDescending(x => RazorDb.Get<BlogPost>()
                    .Where(y => y.Tags != null)
                    .Count(y => y.Tags.Contains(x))))
            { 
                if (c == 10)
                {
                    <div>@Bootstrap.Link("More...").AddAttribute("data-toggle", "collapse").AddAttribute("data-target", "#more-tags").AddAttribute("style", "margin-bottom: 6px;")</div>
                    @:<div id="more-tags" class="collapse">
                }
                @Bootstrap.LinkButton(tag).BtnSm().AddAttribute("style", "margin-bottom: 6px;")
                c++;
            }
            if (c >= 10)
            {
                @:</div> 
            }
            <hr />
            <h5>On The Interwebs</h5>
            using (var list = Bootstrap.List())
            {
                @list.ListItem(Bootstrap.Link("LinkedIn"))
                @list.ListItem(Bootstrap.Link("GitHub (somedave)"))
                @list.ListItem(Bootstrap.Link("Stack Overflow (somedave)"))
                @list.ListItem(Bootstrap.Link("Twitter (somedaveg)"))
                @list.ListItem(Bootstrap.Link("Flickr (somedave)"))
                @list.ListItem(Bootstrap.Link("Goodreads (somedave)"))
            }
        } 
    }
}