@using HtmlAgilityPack;

@model Somedave.Models.Home.Index

@using (var container = Bootstrap.Container().AddCss("banner").Begin())
{
    using (var row = container.GridRow().Begin())
    {
        using (row.GridColumn(2).SetSm(4).SetXs(6).Begin())
        {
            @Bootstrap.Image(Links.Content.me_jpg, "Me").SetResponsive().SetStyle(ImageStyle.Circle).AddAttribute("style", "margin-top: 6px;")
        }
        @Bootstrap.Clearfix().SetVisibility(Visibility.VisibleXsBlock)
        using (row.GridColumn().SetSm(10).Begin())
        {
            <div class="hello">Hello.</div>
            <div class="intro">My name is Dave Glick.</div>
        }                
    }
    <hr />
}

@using (var container = Bootstrap.Container().Begin())
{
    using (var row = container.GridRow().Begin())
    {
        using (row.GridColumn().SetSm(8).AddCss("right-border").Begin())
        {
            bool first = true;
            foreach (BlogPost post in Model.Posts)
            {
                if (!first)
                {
                    <hr /> 
                }
                first = false;
                <div>
                    <h3>
                        @Bootstrap.Link(post.Title, Url.Action(post.GetAction()))
                        @if (post.Published != default(DateTime))
                        {
                            <small>@Bootstrap.Label(post.Published.ToShortDateString()).AddCss("label-date", "icon-calendar")</small>
                            <small>
                                @using (Bootstrap.Label(null).AddCss("label-comments icon-talk-chat-2").Begin())
                                {
                                    <a href="@Url.Action(post.GetAction())#disqus_thread" data-disqus-identifier="@post.GetViewName()"></a>
                                }
                            </small>
                        }
                    </h3>
                </div>
                if(!string.IsNullOrWhiteSpace(post.Lead))
                {
                    @Bootstrap.Lead(post.Lead)
                }
                @Html.Raw(post.GetExcerpt())
                @Bootstrap.LinkButton("Read More &rarr;", Url.Action(post.GetAction()))
            }
            <hr />
            <div><strong>@Bootstrap.Link(" Archive", Url.Action(MVC.Blog.Posts(null)))</strong></div>
        }
        using (row.GridColumn().SetSm(4).Begin())
        {
            <hr class="@Css.VisibleXsBlock" />
            <h5>Tags</h5>
            <div>
                @foreach (KeyValuePair<string, int> tag in Model.Tags)
                { 
                    @Html.TagButton(tag.Key, tag.Value)
                }
            </div>
            <div><strong>@Bootstrap.Link("View All Tags", Url.Action(MVC.Blog.Tags(null)))</strong></div>
            <hr />
            <h5>On The Interwebs</h5>
            @Html.Partial(MVC.Shared.Views.SocialLinks)
        } 
    }
}